* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        margin: 1rem;
        size: 10rem;
        width: auto;
        background-color: rgb(45, 239, 100);
    }
    div {
        margin: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        button {
            font-size: .925rem;
            color: blue;
            background-color: antiquewhite;
            width: fit-content;
            height: 2rem;
            border: 0.14rem solid rgb(0, 0, 0);
            border-radius: 10px;
        }
    }
}

.carrito {
    width: 1rem;
    height: 1rem;
}